import mysql.connector
from flask import Flask, render_template, request, redirect, url_for, session, flash, jsonify,abort
import random
from datetime import datetime
import datetime
from dateutil.relativedelta import relativedelta
import time
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
import secrets
from datetime import datetime, timedelta
import os
from werkzeug.utils import secure_filename
import re
from werkzeug.security import generate_password_hash, check_password_hash
import streamlit as st